<%- contentFor('body') %>
<div class="content-full">
    <h1>Contact Us</h1>
    <p>You can find us on Github:</p>
    <ul>
    <li><a href="https://github.com/TheQuietPotato">Chris</a></li>
    <li><a href="https://github.com/MikeKeightley">Mike</a></li>
    <li><a href="https://github.com/AMIllan75">Millan</a></li>
    <li><a href="https://github.com/neilmusgrove">Neil</a></li>
    <li><a href="https://github.com/dosaki">Tiago</a></li>
    </ul>
    <p>If you find a problem, <a href="https://github.com/msc-dtss/super6assignment/issues/new">raise a new one</a> on <a href="https://github.com/msc-dtss/super6assignment/issues">our issues page</a>.</p>
</div>