<!DOCTYPE html>
<html>

<head>
    <%- include common/head-items.ejs %>
    <title><%= title %></title>
    <link href="/stylesheets/history.css" media="only screen and (min-width : 740px)" rel="stylesheet" type="text/css" />
</head>

<body>
<%- include common/header.ejs %>

<div class="history-area">
<div class="history-round">
    <div class="history-round-game">Game 1</div>
    <div class="history-round-game">Game 2</div>
</div>
<div class="history-round">
    <div class="history-round-game">Game 1</div>
    <div class="history-round-game">Game 2</div>
</div>
</div>
<%- include common/footer.ejs %>


</body>

</html>