<!DOCTYPE html>
<html>

<head>
    <%- include common/head-items.ejs %>
    <title><%= title %></title>
</head>

<body>
    <%- include common/header.ejs %>
    <div class="content-middle">
        <div class="col1">
            <div class="col-title">
                <div class="col-title-grad">
                    <span class="col-title-span">Upcoming Fixtures</span>
                </div>
            </div>
            <% include common/games.ejs %>
        </div>

        <div class="col2">
            <div class="col-title-grad">
                <span class="col-title-span">how to play</span>
            </div>
            <div class="col-text">
                <p>
                    blablabbbbbbbbbbbbbbbbbbbb bbbbbbbbbbbbbbbbbbbbbbb bbbbbbbbbbbbbbbbbb bbbbbbbbbbb bbbbbb bbbbbbbbbbb
                    bbbbbb bbbbbbbbbbbb bbbbbbbbbbbbb bbbbbbbbbbbbbbb bbbbbbbbbbbbbb bbbbbbbbbbbbbb bbbbbbbbbbbbb
                    bbbbbbbbbbbbb
                    bbbbbbbbbb b bbbbbbbbbbbbbbbbbbbb</p>

            </div>
        </div>
    </div>

    <%- include common/footer.ejs %>


</body>

</html>