<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="users/login" method="post">
    <div>Email:<input type="email" id="emailInput" name="email" value="user@gmail.com" required></div>
    <div>Password:<input type="password" id="passwordInput" name="password" value="password" required></div>
    <button type="submit">Submit</button>
</form>
</body>
</html>