<%- contentFor('body') %>
<% const defaultUserInfo = {firstName:'Anonymous', surname:'User', email:'who@knows.com', isAdmin:false, isActive:false} %>
<% const u = typeof user === 'undefined' ? defaultUserInfo : user %>
<div class="page_content">
    <div class="user_info_box">
        PROFILE INFO
        <div class="avatar_image"><img src="https://education.fsu.edu/wp-content/uploads/2016/09/staff-avatar-man.png">
        </div>
        <div>
            <div class="profile_information">
                name: <%= `${u.firstName} ${u.surname}` %><br>
                email: <%= u.email %><br>
                Total bets: NUM<br>
                Rank: NUM<br>
                Points: NUM<br>
                Times won: NUM<br>
            </div>
        </div>
    </div>
    <div class="user_history_box">
        USERS BETS HISTORY
        <div class="bet_table">
            <div class="history_item">
                <h5>Date: 1999/07/29</h5>
                <h5>Points: NUM</h5>
            </div>
            <div class="history_item">
                <h5>Date: 1998/07/29</h5>
                <h5>Points: NUM</h5>
            </div>
        </div>
        <div class="show_more_bet_history">
            <h6><a href="/bets/history">Show Full History</a></h6>
        </div>
    </div>
</div>
<!-- TODO!<br />
    <br />
    Include user information<br />
    This probably should look like a dashboard.<br />
    <br />
    Have a link to <a href="/bets/history">/bets/history</a>?-->