<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include common/head-items.ejs %>
    <title><%= title %></title>
    <link
      href="/stylesheets/profile.css"
      media="only screen and (min-width : 740px)"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="page_content">
      <div class="user_info_box">
        USERNAME
      </div>
      <div class="user_history_box">
        USERS BETS
      </div>
    </div>
  </body>
</html>

<!-- TODO!<br />
    <br />
    Include user information<br />
    This probably should look like a dashboard.<br />
    <br />
    Have a link to <a href="/bets/history">/bets/history</a>?-->
