<!DOCTYPE html>
<html lang="en">

<head>
  <%- include common/head-items.ejs %>
  <title><%= title %></title>
  <link href="/stylesheets/profile.css" media="only screen and (min-width : 740px)" rel="stylesheet" type="text/css" />
</head>

<body>
  <%- include common/header.ejs %>
  <div class="page_content">
    <div class="user_info_box">
      PROFILE INFO
      <div class="avatar_image"><img src="https://education.fsu.edu/wp-content/uploads/2016/09/staff-avatar-man.png">
      </div>
      <div>
        <h3>UserName</h3>
        <div class="profile_information">
          name: John Doe<br>
          email: blbblblbl@aol.com<br>
          Total bets: NUM<br>
          Rank: NUM<br>
          Points: NUM<br>
          Times won: NUM<br>
        </div>
      </div>
    </div>
    <div class="user_history_box">
      USERS BETS HISTORY
      <div class="bet_table">
        <div class="history_item">
          <h5>Date: 1999/07/29</h5>
          <h5>Points: NUM</h5>
        </div>
        <div class="history_item">
          <h5>Date: 1998/07/29</h5>
          <h5>Points: NUM</h5>
        </div>
      </div>
      <div class="show_more_bet_history">
        <h6>Show Full History</h6>
      </div>
    </div>
  </div>
  <%- include common/footer.ejs %>
</body>

</html>

<!-- TODO!<br />
    <br />
    Include user information<br />
    This probably should look like a dashboard.<br />
    <br />
    Have a link to <a href="/bets/history">/bets/history</a>?-->