<%- contentFor('body') %>
<div class="content-full">
    <h1>Terms and Conditions</h1>
    <p>No terms, really...</p>
    <p>Have fun :)</p>

    <p>Also, we'll be not offering any money for any prize.</p>
</div>