@media only screen and (max-width: 800px) {
    .history-area {
        flex-direction: column;
        align-items: center;
    }

    .history-round {
        width: 60%;
    }
}

@media only screen and (min-width: 801px) {
    .history-area {
        flex-direction: row;
    }

    .history-round{
        max-width: 120px;
    }
}

.history-area {
    display: flex;
    padding: 2px;
    background-color: white;
}

.history-round {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    vertical-align: middle;
    padding: 5px;

}
.history-round-game {
    flex-direction: row;
}
.history-round-game-per-team {
    flex-direction: column;
}

.fb-row {
    display: flex;
    flex-direction: row;
}

.thin-border{
    border: 0.5px solid black;
}

.fb-column {
    display: flex;
    flex-direction: column;
}

.padding-5px{
    padding: 5px;
}

.padding-top-5px{
    padding: 5px 0px 0px 0px;
}

.history-v-middle{
    justify-content: center;
}

.history-h-middle{
    text-align: center;
}

.history-small-text{
    font-size: 10px;
}

.large-icon{
    width: 2em;
    height: 2em;
}

.medium-icon{
    width: 1.5em;
    height: 1.5em;
}

.text-align-center{
    text-align: center;
}

.vertical-align-middle{
    vertical-align: middle;
}

.history-correct{
    color: lawngreen;
}

.history-wrong{
    color: red;
}

.history-large-text{
    font-size: 12px;
    font-weight: bold;
}

.history-flag{
    height: 14px;
    width: 21px;
    border: 1px solid black;
}

.history-game-header{
    background-color: black
}