.head-image{
    height: 6em;
}
/*-------------------------Betting Area CSS--------------------------- */
.bet_area{
    background-color: #503580;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    min-width: 800px;
    width: 80%;
    margin: 5px auto;
}

.game_row {
    border: 0.5px solid hotpink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    /* justify-content: flex-end; */
    align-items: center;
  }
  
.column {
    width: 50%;
    /* display: flex; */
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    flex: 1;
  }

.column input {
    height: 1.2em;
    width: 5em; 
}

.golden_try {
    color: white;
    width: 400px;
    text-align: center;
    background-color: #503580;
    margin: 0px auto;
    padding: 5px 5px;
}

/*-------------------------Bet Button CSS--------------------------- */
.place_bet_button{
    text-align: center;
    padding: 10px;
}

#bet_button{
    background-color: purple;
    color: whitesmoke;
    font-size: .9em;
    transition-duration: 0.4s;
}
#bet_button:hover{
    background-color: violet;
}