/*-------------------------Common--------------------------- */
.bet_area {
    color: white;
}

.game-fixture-try-input {
    width: 100%;
    padding:4px;
}

@media only screen and (min-width: 740px) {
    /*-------------------------Betting Area CSS--------------------------- */
    .bet_area {
        background-image: linear-gradient(to right, rgba(28, 96, 173, 0.4), #503580);
        display: flex;
        flex-direction: column;
        align-content: space-around;
        min-width: 720px;
    }

    .fixture {
        display: flex;
    }

    .game_row {
        border-bottom: 1px solid lightgray;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .column {
        width: 50%;
    }

    .user_input_col {
        display: flex;
        flex-direction: column;
        width: 50%;
        flex-wrap: wrap;
        align-items: center;
        /* background-color: red; */
    }
    .user_input_col p {
        margin-left: 12px;
    }
    .user_input_col input {
        height: 1em;
        width: 3em;
    }

    .golden_try {
        color: white;
        width: 400px;
        text-align: center;
        background-color: #503580;
        margin: 0px auto;
        padding: 5px 5px;
    }

    /*-------------------------Bet Button CSS--------------------------- */
    .place_bet_button {
        text-align: center;
        padding: 10px;
    }

    #bet_button {
        background-color: purple;
        color: whitesmoke;
        font-size: 0.9em;
        transition-duration: 0.4s;
    }
    #bet_button:hover {
        background-color: violet;
    }
}
