/* -------------------CONTENT MAIN BODY-------------------------- */
.page_content {
    display: flex;
    flex-direction: row;
}
/* --------------------- USER BOX------------------------ */
.user_info_title {
  margin: 10px auto;
  width: 90%;
  text-align: center;
}
.user_info_box {
    background-color: lightgray;
    min-height: 500px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    text-align: center;
    align-content: center;
    align-items: center;
}

.avatar_image {
    margin-top: 100px;
    max-width: 150px;
    max-height: 150px;
}

.avatar_image img {
    max-width: 150px;
}

.profile_information {
    color: rgb(59, 59, 59);
}
/* ---------------------NEW GAME BOX------------------------ */
.profile_page_team_tries {
  background: rgba(49, 10, 43, 0.7);
  width: 100%;
  text-align: center;
}
.result_selection {
  color: black;
  text-align: center;
}
.result_bottom_border {
  height: 4px;
  width: 80%;
  background-color: rgb(197, 197, 197);
  margin: 1px auto;
  margin-bottom: 20px;
  border-radius: 5px;
}
/* ---------------------BET GAME BOX------------------------ */

.user_bet_box {
  background-color: white;
  flex: 1;
}

.bet_table {
    display: flex;
    flex-direction: column;
}

.round_starts{
  width: 90%;
  margin: auto;
  text-align: center;
  border-top: 1px dotted rgb(77, 77, 77);
}
.game_item {
  border-top: 2px solid rgb(240, 240, 240);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.game_item {
  margin: 10px 10px;
}

.bottom_elements {
  width: 90%;
  margin: auto;
  text-align: center;
  border-top: 1px dotted rgb(77, 77, 77);
}
/* ---------------------ALERT BOX------------------------ */
.edit_bet_alert {
  border: black solid 5px;
  position: fixed;
  left: 46%;
  top: 50%;
  background-color: red;
  padding: 10px;
  min-width: 30%;
  text-align: center;
}
.closebtn, .back_out_btn {
  margin-top: 20px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover, .back_out_btn:hover {
  color: black;
}
.yes_no_select {
  height: 100px;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}
/* ---------------------MOBILE DESIGN------------------------ */
@media only screen and (max-width: 740px) {
  .page_content {
    flex-direction: column;  
  }
  .user_info_box {
    min-height: 30px;
  }
  .avatar_image {
    margin-top: 20px;
  }
}