<footer class="footer-text">
    <a href="">Terms & Conditions</a>
    <a href="">Privacy and Cookie Notice</a>
    <a href="">Accessibility</a>
    <a href="mailto:hello@rugbysuper6.com">Contact us</a>
</footer>