<footer class="footer-text">
    <a href="" id="Terms & Conditions">Terms & Conditions</a>
    <a href="" id="Privacy">Privacy and Cookie Notice</a>
    <a href="" id="Accesibility">Accesibility</a>
    <a href="" id="Contact us">Contact us</a>
</footer>