<div class="col-fixtures">
    <% games.forEach((game) => { %>
    <div class="game-fixture">
        <div class="fixture-date">
            <%= game.gameDate %>
        </div>
        <%- include('common/fixture.ejs', {teamA: game.teamA, teamB: game.teamB, gameBet: null}) %>
    </div>
    <% }); %>
</div>