<div class="navbar">
        <a href="" id="home">HOME</a>
        <a href="" id="play">PLAY SUPER 6</a>
        <a href="" id="about">ABOUT</a>
        <a href="" id="retults">RESULTS</a>
        <a href="" id="leader">LEADERBOARD</a>
    <% if(loggedIn){ %>
        <label class="navright">USER: JHON ERWIN</label>
            <a href="users/logout">LOGOUT</a>
    <%}%>
    </div>

    <div class="head-image">
        <div class="head-grad">
            <% if(!loggedIn){ %>
            <button class="open-button" onclick="openLogin()">LOGIN</button>
            <br/>
            <br/>
            <button class="open-button button-margin-bottom" onclick="openForm2()">REGISTER</button>
            <%}%>

        </div>


        <div class="form-popup" id="loginForm">
            <form action="/users/login" method="post" class="form-container">
                <h1>Login</h1>
                <label for="email">
                    <b>Email</b>
                </label>
                <!-- Hardcode accepted values for ease of testing right now -->
                <input name="email" placeholder="Enter Email" required type="email" value="user@gmail.com">
                <label for="psw">
                    <b>Password</b>
                </label>
                <input name="password" placeholder="Enter Password" required type="password" value="password">

                <button class="btn" type="submit">Login</button>
                <button class="btn cancel" onclick="closeLogin()" type="button">Close</button>
            </form>
        </div>

    </div>