<div class="navbar">
    <a href="/" id="home">HOME</a>
    <% if(loggedIn){ %>
    <a href="/bets/play" id="play">PLAY SUPER 6</a>
    <%}%>
    <a href="" id="about">ABOUT</a>
    <a href="" id="retults">RESULTS</a>
    <a href="" id="leader">LEADERBOARD</a>
    <% if(loggedIn){ %>
    <label class="navright"><a href="/profile">USER: JHON ERWIN</a></label>
    <a href="/users/logout">LOGOUT</a>
    <%}%>
</div>
<div class="logo_image"><img src="/images/logo.svg" height="100px"></div>
<div class="head-image">
    <div class="head-grad">
    
        <% if(!loggedIn){ %>
    <button class="open-button" onclick="showUserForm('login')">LOGIN</button>
    <br />
    <br />
    <button class="open-button button-margin-bottom" onclick="showUserForm('register')">REGISTER</button>
    <%}%>

    </div>
    <%# Include the register and the login forms here. %>
    <% include userForm.ejs %>

</div>

<script>
    var showUserForm = function (type) {
        // The code below should just decide which login form to open
        if (type === 'login') {
            document.getElementById("userFormHeading").innerText = "Login";
            document.getElementById("userFormButton").innerText = "Login";
            document.getElementById("userFormForm").action = "/users/login";
        } else if (type === 'register') {
            document.getElementById("userFormHeading").innerText = "Register";
            document.getElementById("userFormButton").innerText = "Register";
            document.getElementById("userFormForm").action = "/users/signup";
        }
        document.querySelector("[user_form]").classList.add("show-form");
    };

    var closeUserForm = function () {
        document.querySelector("[user_form].show-form").classList.remove("show-form");
    };
</script>

</div>