<div id="loginForm" class="form-popup" login_form>
    <form id="userLoginForm" class="form-container">
        <h1 id="loginFormHeading">Login</h1>

        <div class="label-placeholders">
            <input id="login_email" name="email" placeholder="Enter Email" value="" required type="email"
                onkeypress="submitIfEnter('loginForm', '/users/login')"/>
            <label for="login_email">Email</label>
            <div reason></div>
        </div>
        
        <div class="label-placeholders">
            <input id="login_password" name="password" placeholder="Enter Password" value="" required type="password"
                onkeypress="submitIfEnter('loginForm', '/users/login')"/>
            <label for="login_password">Password</label>
            <div reason></div>
        </div>

        <a class="button main full-width" onclick="submitUserInfo('loginForm', '/users/login')" id="loginFormButton">Login</a>
        <a class="button full-width" onclick="closeUserForm()" type="button">Close</a>
    </form>
</div>