<div id="loginForm" class="form-popup" login_form>
    <form id="userLoginForm" action="ACTION" method="post" class="form-container">
        <h1 id="loginFormHeading">HEADING</h1>
        <label for="login_email">
            <b>Email</b>
        </label>
        <input id="login_email" name="email" placeholder="Enter Email" required type="email" />
        <label for="login_password">
            <b>Password</b>
        </label>
        <input id="login_password" name="password" placeholder="Enter Password" required type="password" />

        <button class="btn" type="submit" id="loginFormButton">BUTTON</button>

        <button class="btn cancel" onclick="closeUserForm()" type="button">Close</button>
    </form>
</div>