<div id="userForm" class="form-popup">
    <form id="userFormForm" action="ACTION" method="post" class="form-container">
        <h1 id="userFormHeading">HEADING</h1>
        <label for="firstName">
            <b>First Name</b>
        </label>
        <input name="firstName" placeholder="Enter First Name" required type="firstName">
        <label for="surname">
            <b>Surname</b>
        </label>
        <input name="surname" placeholder="Enter Surname" required type="surname">
        <label for="email">
            <b>Email</b>
        </label>
        <!-- Hardcode accepted values for ease of testing right now -->
        <input name="email" placeholder="Enter Email" required type="email" value="user@gmail.com">
        <label for="psw">
            <b>Password</b>
        </label>
        <input name="password" placeholder="Enter Password" required type="password" value="password">

        <button class="btn" type="submit" id="userFormButton">BUTTON</button>
        <button class="btn cancel" onclick="closeUserForm()" type="button">Close</button>
    </form>
</div>