<div id="registerForm" class="form-popup" user_form>
    <form id="userFormForm" class="form-container">
        <h1 id="userFormHeading">Register</h1>

        <div class="label-placeholders">
            <input id="register_firstName" name="firstName" placeholder="Enter First Name" value="" required type="text"
                onkeypress="submitIfEnter('registerForm', '/users/signup')"/>
            <label for="register_firstName">First Name</label>
            <div reason></div>
        </div>

        <div class="label-placeholders">
            <input id="register_surname" name="surname" placeholder="Enter Surname" value="" required type="text"
                onkeypress="submitIfEnter('registerForm', '/users/signup')"/>
            <label for="register_surname">Surname</label>
            <div reason></div>
        </div>

        <div class="label-placeholders">
            <input id="register_email" name="email" placeholder="Enter Email" value="" required type="email"
                onkeypress="submitIfEnter('registerForm', '/users/signup')"/>
            <label for="register_email">Email</label>
            <div reason></div>
        </div>

        <div class="label-placeholders">
            <input id="register_password" name="password" placeholder="Enter Password" value="" required type="password"
                pattern="(?=.*[a-z])(?=.*[A-Z]).{7,}"
                title="Minimum 7 characters, and atleast 1 lowercase and uppercase letter"
                onkeypress="submitIfEnter('registerForm', '/users/signup')"/>
            <label for="register_password">Password</label>
            <div reason></div>
        </div>

        <a class="button main full-width" onclick="submitUserInfo('registerForm', '/users/signup')" id="userFormButton">Register</a>
        <a class="button full-width" onclick="closeUserForm()" type="button">Close</a>
    </form>
</div>