<div class="form-popup" id="signupForm">
    <form action="/users/signup" method="post" class="form-container">
        <h1>Signup</h1>
        <h2>Create a Super6 account to make your predictions!</h2>
        <label for="email">
            <b>Email</b>
        </label>
        <!-- Hardcode accepted values for ease of testing right now -->
        <input name="email" placeholder="Enter Email" required type="email" value="user@gmail.com">
        <label for="psw">
            <b>Password</b>
        </label>
        <input name="password" placeholder="Enter Password" required type="password" value="password">

        <button class="btn" type="submit">Sign Up</button>
        <button class="btn cancel" onclick="closeSignup()" type="button">Close</button>
    </form>
</div>